* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #161616;
  background-image: url("../img/netflix-text.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 400px;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}

/* COMMON */

.container-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.center-items {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-between {
  justify-content: space-between;
}

.center-text {
  text-align: center;
}

/* COLOURS */

.white-text {
  color:rgb(233, 233, 233);
}

/* TYPOGRAPHY */

.text-ellipsis {
  display: -webkit-box;   
   -webkit-line-clamp: 5;   
   -webkit-box-orient: vertical;     
   overflow: hidden; 
}

/* HEADER */

.header-container {
  width: 90%;
  max-width: 1920px;
  height: 100%;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 70px;
  background: rgb(19, 20, 20);
}
.logo {
  width: 120px;
  margin-right: 40px;
}

.nav-menu li {
  display: inline;
  margin: 0 10px;
  font-weight: 600;
}

.nav-menu a {
  text-decoration: none;
}

.nav-menu a:hover {
  color: #e50914;
  transition: color.6s;
}

.search-bar > * {
  margin: 0 5px;
}

.search-bar img {
  width: 30px;
  margin: 0 5px 0 15px;
}

.chevron {
  font-size: 0.6rem;
}

.search-bar input {
  height: 30px;
  width: 120px;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
  font-weight: 600;
}

.search-bar button {
  height: 30px;
  width: 60px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.search-bar select {
  height: 30px;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-weight: 600;
}

.profile-section {
  margin-left: 20px;
}

.notifications {
  position: relative;
}

.notification-bell {
  margin-left: 10px;
  font-size: 1.4rem;
}

.notification-number {
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: #e50914;
  top:0;
  right:0;
  border-radius: 50%;
  font-size: 0.6rem;
  font-weight: 600;
}

.notification-number span {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.search-icon {
  font-size: 1.2rem;
}

/* MOVIE AND TV SECTION */

.search-result {
  width: 100%;
  margin: 50px 0 0 0;
  text-align: center;
  font-size: 1rem;
}

.movie-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px 0 100px 0;
}

.movie {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-basis: 220px;
  margin: 10px 2px;
  border-radius: 5px;
  cursor: pointer;
}

.movie h3 {
  margin: 20px 0 10px 0;
  color: white;
  font-size: 1rem;
  text-transform: uppercase; 
   -webkit-line-clamp: 3;   
}

.movie span.original-title {
  color: grey;
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 10px;  
   -webkit-line-clamp: 3;   
}

.movie span.language, .movie span.vote {
  color: grey;
  margin-top: 10px;
  font-weight: 600;
}

.movie .overview {
  margin-top: 10px;
   -webkit-line-clamp: 5;   
}

.movie-info {
  width: 220px;
  height: 330px;
  position: absolute;
  background-color:rgba(0,0,0,0.8);
  opacity: 0;
  justify-content: flex-start;
  padding: 0px 15px;
}

.movie-info:hover {
  opacity: 1;
  transition: opacity 1s;
}

.poster {
  width: 100%;
  height: 330px;
  position: relative;
}

.stars {
  color: yellow;
  position: relative;
  left: 3px;
}

.empty-stars {
  color: rgb(70, 70, 70) ;
  margin: 0;
}

.flags {
  width:35px;
  text-align: center;
  margin-top: 15px;
}
