<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- FONT-AWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- VUE.JS -->
    <script src="libs/vue.js" charset="utf-8"></script>

    <!-- AXIOS -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <title>Boolflix</title>
  </head>
  <body>

    <!-- VUE APP SECTION -->
    <div id="boolFlix">
      
      <!-- Logo and search bar -->
      <header>
        <div class="header-container container-flex flex-row center-items justify-space-between">

          <!-- Header Logo -->
          <div class="container-flex flex-row center-items">
            <img src="img/netflix-text.png" alt="logo-text">
            <div class="container container-flex flex-row center-items">
              <ul class="nav-menu">
                <a class="white-text" href="#"><li>Home</li></a>
                <a class="white-text" href="#"><li>Serie Tv</li></a>
                <a class="white-text" href="#"><li>Film</li></a>
                <a class="white-text" href="#"><li>Aggiunti di recente</li></a>
                <a class="white-text" href="#"><li>La mia lista</li></a>
              </ul>
            </div>
          </div>
          

          <!-- Header search bar -->
          <div class="search-bar">
            <input type="text" placeholder="Cerca Film e Serie Tv" v-model="search" @keypress.enter="searchMovie(), searchTvShow()" value="">

            <!-- Genres Select -->
            <select name="genres" id="" v-model="selectedGenre">
              <option value="all">All</option>
              <option v-bind:value="genre.id" v-for="(genre, index) in genres">{{genre.name}}</option>
            </select>
            <!-- Search button -->
            <button @click="searchMovie(), searchTvShow()">Cerca</button>
          </div>
        </div>
      </header>

      <!-- Search results infos -->
      <div class="search-result">
        <h1 class="white-text" v-if="movies.length > 0">Ricerca: {{searchResult[0]}}</h1>
        <p class="white-text" v-if="movies.length > 0">Risultati: {{totalResults}}</p>
      </div>
      
      <!-- MOVIES AND TV SHOWS SECTION -->
      <div class="movie-container container">

        <!-- Movies and TV Shows card template -->
        <div class="movie" v-for="(movie, index) in filterMovies">
          <!-- Poster -->
          <img class="poster" v-bind:src="'https://image.tmdb.org/t/p/w342' + movie.poster_path" alt="img" onerror="this.src='img/poster-unavailable.jpg'">
          <!-- Movies and TV Shows infos -->
          <div class="movie-info container-flex flex-column">
            <h3 class="text-ellipsis">{{movie.title}}{{movie.name}}</h3>
            <span class="original-title text-ellipsis">Titolo originale: {{movie.original_title}}{{movie.original_name}}</span>
            <div>
              <span class="vote">Voto: </span><i v-for="(star, index) in Math.ceil(movie.vote_average / 2)" class="fas fa-star stars"></i>
              <i v-for="n in 5 - Math.ceil(movie.vote_average / 2)" class="fas fa-star empty-stars"></i>
            </div>
            <p class="white-text overview text-ellipsis">Descrizione: {{movie.overview}}</p>
            <div class="container-flex row justify-center">
              <img class="flags" v-bind:src="'img/' + movie.original_language + '.png'" alt="" onerror="this.src='img/white-flag.png'">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- JAVASCRIPT -->
    <script src="js/main.js" charset="utf-8"></script>
  </body>
</html>
