<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- FONT-AWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- VUE.JS -->
    <script src="libs/vue.js" charset="utf-8"></script>

    <!-- AXIOS -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <title>Boolflix</title>
  </head>
  <body>

    <!-- VUE APP SECTION -->
    <div id="boolFlix">
      
      <!-- Logo and search bar -->
      <header>
        <div class="header-container container-flex flex-row center-items justify-space-between">

          <!-- Header Logo -->
          <div class="container-flex flex-row center-items">
            <img class="logo" src="img/netflix-text.png" alt="logo-text" @click="homepageRefresh()">
            <div class="container container-flex flex-row center-items">
              <ul class="nav-menu">
                <a class="white-text" href="#" @click="homepageRefresh()"><li>Home</li></a>
                <a class="white-text" href="#" @click="isActiveTv()"><li>Serie Tv</li></a>
                <a class="white-text" href="#" @click="isActiveMovie()"><li>Film</li></a>
                <a class="white-text" href="#"><li>Aggiunti di recente</li></a>
                <a class="white-text" href="#"><li>La mia lista</li></a>
              </ul>
            </div>
          </div>
          

          <!-- Header search bar -->
          <div class="search-bar container-flex flex-row center-items">
            <input type="text" placeholder="Film e Serie TV" v-model="search" @keypress.enter="searchMovie(), searchTvShow()" value="">
            <!-- Search button -->
            <a class="search-icon" href="#" @click="searchMovie(), searchTvShow()"><i class="fas fa-search white-text"></i></a>
            <!-- Notifications and profile -->
            <div class="profile-section container-flex flex-row center-items">
              <h4 class="white-text">KIDS</h4>
              <div class="notifications">
                <a href="#" class="notification-bell"><i class="fas fa-bell white-text"></i></a>
                <div class="notification-number"><span class="white-text">1</span></div>
              </div>
              <img src="img/profile.jpg" alt="profile">
              <a href="#" class="chevron white-text"><i class="fas fa-chevron-down"></i></a>
            </div>
          </div>
        </div>
      </header>

      <div class="search-options container-flex flex-row center-items justify-space-around" v-if="multiSearch.length > 0">
         <!-- Search results infos -->
        <div class="search-result">
          <h1 class="white-text">Ricerca: {{searchResult[0]}}</h1>
        </div>
        <!-- Genres Select -->
        <div>
          <label for="tutto" class="white-text">Tutto</label>
          <input type="radio" id="tutto" name="tutto" value="tutto" v-model="checkedCategory">
          <label for="serie-tv" class="white-text">Serie Tv</label>
          <input type="radio" id="serie-tv" name="serie-tv" value="serie-tv" v-model="checkedCategory">
          <label for="film" class="white-text">Film</label>
          <input type="radio" id="film" name="film" value="film" v-model="checkedCategory">
        </div>
        
      </div>
      
      <!-- MOVIES AND TV SHOWS SECTION -->

      <!-- LANDING PAGE -->
      <!-- Top rated movies -->
      <h1 class="title-section white-text" v-if="movies.length < 1 && !isActiveTopRatedMovies && !isActiveShows">I film più popolari</h1>
      <div class="home-sections" v-if="movies.length < 1 && !isActiveTopRatedMovies && !isActiveShows">
        <div class="home-sections home-sections-container popular-films">
          <div class="movie" v-for="(movie, index) in topRatedMovies">
            <!-- Poster -->
            <img class="poster" v-bind:src="'https://image.tmdb.org/t/p/w342' + movie.poster_path" alt="img" onerror="this.src='img/poster-unavailable.jpg'">
            <!-- Movies and TV Shows infos -->
            <div class="movie-info container-flex flex-column">
              <h3 class="text-ellipsis">{{movie.title}}{{movie.name}}</h3>
              <span class="original-title text-ellipsis">Titolo originale: {{movie.original_title}}{{movie.original_name}}</span>
              <div>
                <span class="vote">Voto: </span><i v-for="(star, index) in Math.ceil(movie.vote_average / 2)" class="fas fa-star stars"></i>
                <i v-for="n in 5 - Math.ceil(movie.vote_average / 2)" class="fas fa-star empty-stars"></i>
              </div>
              <p class="white-text overview text-ellipsis">Descrizione: {{movie.overview}}</p>
              <div class="container-flex row justify-center">
                <img class="flags" v-bind:src="'img/' + movie.original_language + '.png'" alt="" onerror="this.src='img/white-flag.png'">
              </div>
            </div>
          </div>
        </div>
        <div class="slider container-flex flex-row center-items justify-space-between">
          <i class="fas fa-chevron-left white-text" @click="scrollLeft('.popular-films')"></i>
          <i class="fas fa-chevron-right white-text" @click="scrollRight('.popular-films')"></i>
        </div>
      </div>

      <!-- Top rated TV Shows -->
      <h1 class="title-section white-text" v-if="movies.length < 1 && !isActiveTopRatedMovies && !isActiveShows">Le serie tv del momento</h1>
      <div class="home-sections" v-if="movies.length < 1 && !isActiveTopRatedMovies && !isActiveShows">
        <div class="home-sections home-sections-container popular-shows">
          <div class="movie" v-for="(movie, index) in topRatedTvShows">
            <!-- Poster -->
            <img class="poster" v-bind:src="'https://image.tmdb.org/t/p/w342' + movie.poster_path" alt="img" onerror="this.src='img/poster-unavailable.jpg'">
            <!-- Movies and TV Shows infos -->
            <div class="movie-info container-flex flex-column">
              <h3 class="text-ellipsis">{{movie.title}}{{movie.name}}</h3>
              <span class="original-title text-ellipsis">Titolo originale: {{movie.original_title}}{{movie.original_name}}</span>
              <div>
                <span class="vote">Voto: </span><i v-for="(star, index) in Math.ceil(movie.vote_average / 2)" class="fas fa-star stars"></i>
                <i v-for="n in 5 - Math.ceil(movie.vote_average / 2)" class="fas fa-star empty-stars"></i>
              </div>
              <p class="white-text overview text-ellipsis">Descrizione: {{movie.overview}}</p>
              <div class="container-flex row justify-center">
                <img class="flags" v-bind:src="'img/' + movie.original_language + '.png'" alt="" onerror="this.src='img/white-flag.png'">
              </div>
            </div>
          </div>
        </div>
        <div class="slider container-flex flex-row center-items justify-space-between">
          <i class="fas fa-chevron-left white-text" @click="scrollLeft('.popular-shows')"></i>
          <i class="fas fa-chevron-right white-text" @click="scrollRight('.popular-shows')"></i>
        </div>
      </div>

      <!-- Upcoming -->
      <h1 class="title-section white-text" v-if="movies.length < 1 && !isActiveTopRatedMovies && !isActiveShows">Ultime uscite</h1>
      <div class="home-sections" v-if="movies.length < 1 && !isActiveTopRatedMovies && !isActiveShows">
        <div class="home-sections home-sections-container upcoming">
          <div class="movie" v-for="(movie, index) in upcoming">
            <!-- Poster -->
            <img class="poster" v-bind:src="'https://image.tmdb.org/t/p/w342' + movie.poster_path" alt="img" onerror="this.src='img/poster-unavailable.jpg'">
            <!-- Movies and TV Shows infos -->
            <div class="movie-info container-flex flex-column">
              <h3 class="text-ellipsis">{{movie.title}}{{movie.name}}</h3>
              <span class="original-title text-ellipsis">Titolo originale: {{movie.original_title}}{{movie.original_name}}</span>
              <div>
                <span class="vote">Voto: </span><i v-for="(star, index) in Math.ceil(movie.vote_average / 2)" class="fas fa-star stars"></i>
                <i v-for="n in 5 - Math.ceil(movie.vote_average / 2)" class="fas fa-star empty-stars"></i>
              </div>
              <p class="white-text overview text-ellipsis">Descrizione: {{movie.overview}}</p>
              <div class="container-flex row justify-center">
                <img class="flags" v-bind:src="'img/' + movie.original_language + '.png'" alt="" onerror="this.src='img/white-flag.png'">
              </div>
            </div>
          </div>
        </div>
        <div class="slider container-flex flex-row center-items justify-space-between">
          <i class="fas fa-chevron-left white-text" @click="scrollLeft('.upcoming')"></i>
          <i class="fas fa-chevron-right white-text" @click="scrollRight('.upcoming')"></i>
        </div>
      </div>

      <!-- TV SHOWS SECTION -->
      <div class="container-flex flex-row center-items">
        <h1 class="title-section white-text" v-if="isActiveShows">Serie Tv</h1>
        <select name="genres" class="genres" v-model="selectedGenre" v-if="isActiveShows">
          <option value="all">Generi</option>
          <option v-bind:value="genre.id" v-for="(genre, index) in genres">{{genre.name}}</option>
        </select>
      </div>
      
      <div class="movie-container" v-if="isActiveShows">

        <!-- Movies and TV Shows card template -->
        <div class="movie" v-for="(movie, index) in filterTvShows">
          <!-- Poster -->
          <img class="poster" v-bind:src="'https://image.tmdb.org/t/p/w342' + movie.poster_path" alt="img" onerror="this.src='img/poster-unavailable.jpg'">
          <!-- Movies and TV Shows infos -->
          <div class="movie-info container-flex flex-column">
            <h3 class="text-ellipsis">{{movie.title}}{{movie.name}}</h3>
            <span class="original-title text-ellipsis">Titolo originale: {{movie.original_title}}{{movie.original_name}}</span>
            <div>
              <span class="vote">Voto: </span><i v-for="(star, index) in Math.ceil(movie.vote_average / 2)" class="fas fa-star stars"></i>
              <i v-for="n in 5 - Math.ceil(movie.vote_average / 2)" class="fas fa-star empty-stars"></i>
            </div>
            <p class="white-text overview text-ellipsis">Descrizione: {{movie.overview}}</p>
            <div class="container-flex row justify-center">
              <img class="flags" v-bind:src="'img/' + movie.original_language + '.png'" alt="" onerror="this.src='img/white-flag.png'">
            </div>
          </div>
        </div>
      </div>

      <!-- MOVIES SECTION -->
      <div class="container-flex flex-row center-items">
        <h1 class="title-section white-text" v-if="isActiveTopRatedMovies">Film</h1>
        <select name="genres" class="genres" v-model="selectedGenre" v-if="isActiveTopRatedMovies">
          <option value="all">Generi</option>
          <option v-bind:value="genre.id" v-for="(genre, index) in genres">{{genre.name}}</option>
        </select>
      </div>
      
      <div class="movie-container" v-if="isActiveTopRatedMovies">

        <!-- Movies and TV Shows card template -->
        <div class="movie" v-for="(movie, index) in filterMovies">
          <!-- Poster -->
          <img class="poster" v-bind:src="'https://image.tmdb.org/t/p/w342' + movie.poster_path" alt="img" onerror="this.src='img/poster-unavailable.jpg'">
          <!-- Movies and TV Shows infos -->
          <div class="movie-info container-flex flex-column">
            <h3 class="text-ellipsis">{{movie.title}}{{movie.name}}</h3>
            <span class="original-title text-ellipsis">Titolo originale: {{movie.original_title}}{{movie.original_name}}</span>
            <div>
              <span class="vote">Voto: </span><i v-for="(star, index) in Math.ceil(movie.vote_average / 2)" class="fas fa-star stars"></i>
              <i v-for="n in 5 - Math.ceil(movie.vote_average / 2)" class="fas fa-star empty-stars"></i>
            </div>
            <p class="white-text overview text-ellipsis">Descrizione: {{movie.overview}}</p>
            <div class="container-flex row justify-center">
              <img class="flags" v-bind:src="'img/' + movie.original_language + '.png'" alt="" onerror="this.src='img/white-flag.png'">
            </div>
          </div>
        </div>
      </div>

      <div class="movie-container">

        <!-- Movies and TV Shows card template -->
        <div class="movie" v-for="(movie, index) in filterByCategory">
          <!-- Poster -->
          <img class="poster" v-bind:src="'https://image.tmdb.org/t/p/w342' + movie.poster_path" alt="img" onerror="this.src='img/poster-unavailable.jpg'">
          <!-- Movies and TV Shows infos -->
          <div class="movie-info container-flex flex-column">
            <h3 class="text-ellipsis">{{movie.title}}{{movie.name}}</h3>
            <span class="original-title text-ellipsis">Titolo originale: {{movie.original_title}}{{movie.original_name}}</span>
            <div>
              <span class="vote">Voto: </span><i v-for="(star, index) in Math.ceil(movie.vote_average / 2)" class="fas fa-star stars"></i>
              <i v-for="n in 5 - Math.ceil(movie.vote_average / 2)" class="fas fa-star empty-stars"></i>
            </div>
            <p class="white-text overview text-ellipsis">Descrizione: {{movie.overview}}</p>
            <div class="container-flex row justify-center">
              <img class="flags" v-bind:src="'img/' + movie.original_language + '.png'" alt="" onerror="this.src='img/white-flag.png'">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- JAVASCRIPT -->
    <script src="js/main.js" charset="utf-8"></script>
  </body>
</html>
